*.aux
*.dvi
*.log
*.out
*.toc
*~
game/*~
game/Results
helpers/*~
helpers/color_line*
helpers/DrawMoleTypeInstruction.m
helpers/MeasureLuminance.m
helpers/ReadPnoRT*
helpers/CheckRes.m
helpers/CorrectClut.m
helpers/RemoveListening.m
analysis/*~